.border {
  border: 1px solid black;
}

#div1 {
  margin: 1em;
}

#div2 {
  margin: 1em 2em;
}

#div3 {
  margin: 1em 2em 3em;
}

#div4 {
  margin: 1em 2em 3em 4em;
}

#div5 {
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 3em;
  margin-left: 4em;
}