<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../normalize.css" rel="stylesheet">
  <link href="blog-styles.css" rel="stylesheet">
  <title>Running Blog - Photo Gallery</title>
</head>
<body class="webucator">
<header>
  <div id="title">
    <h1>Running Blog <img alt="Tiny Runner" src="images/runner2-tiny.png"></h1>
    <p>The best blog about running that you are ever going to find.</p>
  </div>
  <nav>
    <ul>
      <li><a href="running-blog.html#title">Home</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="photos.html">Photos</a></li>
    </ul>
  </nav>
</header>
<main id="photos">
  <h2>Check out the amazing photos of, from, and by our runners!</h2>
  <nav id="photo-nav">
    <ol>
      <li><a href="#marathon">Marathon</a></li>
      <li><a href="#mountain-run">Mountain Run</a></li>
      <li><a href="#race">Race</a></li>
      <li><a href="#racers">Racers</a></li>
      <li><a href="#roadside-runner">Roadside Runner</a></li>
      <li><a href="#runners-high">Runner's High</a></li>
      <li><a href="#running-shoes">Running Shoes</a></li>
      <li><a href="#seaside-run">Seaside Run</a></li>
      <li><a href="#sprint">Sprint</a></li>
      <li><a href="#stairs-run">Stairs Run</a></li>
      <li><a href="#sunrise-run">Sunrise Run</a></li>
      <li><a href="#sunset-run">Sunset Run</a></li>
      <li><a href="#woods-run">Woods Run</a></li>
      <li><a href="#beach-run">Beach Run</a></li>
      <li><a href="#city-run">City Run</a></li>
      <li><a href="#dog-runner">Dog Runner</a></li>
      <li><a href="#forest-run">Forest Run</a></li>
      <li><a href="#kid-run">Kid Run</a></li>
    </ol>
  </nav>
  <section id="gallery">
    <div id="marathon">
      <a href="#marathon"><img src="images/marathon.jpg" alt="Marathon"></a>
      <p class="caption">Marathon</p>
    </div>
    <div id="mountain-run">
      <a href="#mountain-run"><img src="images/mountain-run.jpeg" alt="Mountain Run"></a>
      <p class="caption">Mountain Run</p>
    </div>
    <div id="race">
      <a href="#race"><img src="images/race.jpeg" alt="Race"></a>
      <p class="caption">Race</p>
    </div>
    <div id="racers">
      <a href="#racers"><img src="images/racers.jpg" alt="Racers"></a>
      <p class="caption">Racers</p>
    </div>
    <div id="roadside-runner">
      <a href="#roadside-runner"><img src="images/roadside-runner.jpeg" alt="Roadside Runner"></a>
      <p class="caption">Roadside Runner</p>
    </div>
    <div id="runners-high">
      <a href="#runners-high"><img src="images/runners-high.jpg" alt="Runner's High"></a>
      <p class="caption">Runner's High</p>
    </div>
    <div id="running-shoes">
      <a href="#running-shoes"><img src="images/running-shoes.jpeg" alt="Running Shoes"></a>
      <p class="caption">Running Shoes</p>
    </div>
    <div id="seaside-run">
      <a href="#seaside-run"><img src="images/seaside-run.jpeg" alt="Seaside Run"></a>
      <p class="caption">Seaside Run</p>
    </div>
    <div id="sprint">
      <a href="#sprint"><img src="images/sprint.jpg" alt="Sprint"></a>
      <p class="caption">Sprint</p>
    </div>
    <div id="stairs-run">
      <a href="#stairs-run"><img src="images/stairs-run.jpeg" alt="Stairs Run"></a>
      <p class="caption">Stairs Run</p>
    </div>
    <div id="sunrise-run">
      <a href="#sunrise-run"><img src="images/sunrise-run.jpeg" alt="Sunrise Run"></a>
      <p class="caption">Sunrise Run</p>
    </div>
    <div id="sunset-run">
      <a href="#sunset-run"><img src="images/sunset-run.jpeg" alt="Sunset Run"></a>
      <p class="caption">Sunset Run</p>
    </div>
    <div id="woods-run">
      <a href="#woods-run"><img src="images/woods-run.jpeg" alt="Woods Run"></a>
      <p class="caption">Woods Run</p>
    </div>
    <div id="beach-run">
      <a href="#beach-run"><img src="images/beach-run.jpeg" alt="Beach Run"></a>
      <p class="caption">Beach Run</p>
    </div>
    <div id="city-run">
      <a href="#city-run"><img src="images/city-run.jpeg" alt="City Run"></a>
      <p class="caption">City Run</p>
    </div>
    <div id="dog-runner">
      <a href="#dog-runner"><img src="images/dog-runner.jpeg" alt="Dog Runner"></a>
      <p class="caption">Dog Runner</p>
    </div>
    <div id="forest-run">
      <a href="#forest-run"><img src="images/forest-run.jpeg" alt="Forest Run"></a>
      <p class="caption">Forest Run</p>
    </div>
    <div id="kid-runner">
      <a href="#kid-runner"><img src="images/kid-runner.jpeg" alt="Kid Runner"></a>
      <p class="caption">Kid Runner</p>
    </div>
  </section>
</main>
<footer>
  <h2>Connect with us!</h2>
  <a href="https://www.facebook.com/">
    <img alt="Facebook Logo" src="images/facebook-logo.png"></a>
  <a href="https://www.instagram.com/">
    <img alt="Instagram Logo" src="images/instagram-logo.png"></a>
  <a href="https://twitter.com/">
    <img alt="Twitter Logo" src="images/twitter-logo.png"></a>
  <a href="https://www.pinterest.com/#">
    <img alt="Pinterest Logo" src="images/pinterest-logo.png"></a>
  <p>&copy; 2024 Running Blog. All rights reserved.
  For questions, send email to
  <a href="mailto:info@runningblog.com">info@runningblog.com</a>.</p>
</footer>
</body>
</html>