<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="../normalize.css" rel="stylesheet">
<style>
  section {
    border: 1px solid black;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
  }

  div {
    border: 1px solid black;
    margin: 0.2rem 0.5rem;
    width: 200px;
  }

  #row {
    flex-flow: row;
  }

  #column {
    flex-flow: column;
  }

  #wrap {
    flex-flow: wrap;
  }

  #nowrap {
    flex-flow: nowrap;
  }
</style>
<title>flex-flow Examples</title>
</head>
<body class="webucator">
<h1>flex-flow Examples</h1>
<strong>flex-flow: row</strong>
  <section id="row">
    <div>First div</div>
    <div>Second div</div>
    <div>Third div</div>
  </section>
<strong>flex-flow: column</strong>
  <section id="column">
    <div>First div</div>
    <div>Second div</div>
    <div>Third div</div>
  </section>
<strong>flex-flow: wrap</strong>
  <section id="wrap">
    <div>First div</div>
    <div>Second div</div>
    <div>Third div</div>
  </section>
<strong>flex-flow: nowrap</strong>
  <section id="nowrap">
    <div>First div</div>
    <div>Second div</div>
    <div>Third div</div>
    <div>Fourth div</div>
    <div>Fifth div</div>
    <div>Sixth div</div>
    <div>Seventh div</div>
    <div>Eighth div</div>
    <div>Ninth div</div>
    <div>Tenth div</div>
  </section>
</body>
</html>