<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="../normalize.css" rel="stylesheet">
<link href="multi-column-styles.css" rel="stylesheet">
<title>Multi-column</title>
</head>
<body class="webucator">
<h1>Multi-column</h1>
<main>
  <h2>Check out our cute dogs!</h2>
  <nav>
    <ol>
      <li><a href="#dog1">Cute Dog 1</a></li>
      <li><a href="#dog2">Cute Dog 2</a></li>
      <li><a href="#dog3">Cute Dog 3</a></li>
      <li><a href="#dog4">Cute Dog 4</a></li>
      <li><a href="#dog5">Cute Dog 5</a></li>
      <li><a href="#dog6">Cute Dog 6</a></li>
      <li><a href="#dog7">Cute Dog 7</a></li>
      <li><a href="#dog8">Cute Dog 8</a></li>
      <li><a href="#dog9">Cute Dog 9</a></li>
      <li><a href="#dog10">Cute Dog 10</a></li>
      <li><a href="#dog11">Cute Dog 11</a></li>
      <li><a href="#dog12">Cute Dog 12</a></li>
      <li><a href="#dog13">Cute Dog 13</a></li>
      <li><a href="#dog14">Cute Dog 14</a></li>
      <li><a href="#dog15">Cute Dog 15</a></li>
      <li><a href="#dog16">Cute Dog 16</a></li>
      <li><a href="#dog17">Cute Dog 17</a></li>
      <li><a href="#dog18">Cute Dog 18</a></li>
      <li><a href="#dog19">Cute Dog 19</a></li>
      <li><a href="#dog20">Cute Dog 20</a></li>
    </ol>
  </nav>
  <section id="gallery">
    <div id="dog1">
      <a href="#dog1">
        <img src="images/dog1.jpg" alt="Cute Dog 1"></a>
      <p class="caption">
        Here is one cute dog!</p>
    </div>
    <div id="dog2">
      <a href="#dog2">
        <img src="images/dog2.jpg" alt="Cute Dog 2"></a>
      <p class="caption">
        And here's another one!</p>
    </div>
    <div id="dog3">
      <a href="#dog3">
        <img src="images/dog3.jpg" alt="Cute Dog 3"></a>
      <p class="caption">
        So cute!</p>
    </div>
    <div id="dog4">
      <a href="#dog4">
        <img src="images/dog4.jpg" alt="Cute Dog 4"></a>
      <p class="caption">
        Cutie pie!</p>
    </div>
    <div id="dog5">
      <a href="#dog5">
        <img src="images/dog5.jpg" alt="Cute Dog 5"></a>
      <p class="caption">
        Look! There's another super cute dog!</p>
    </div>
    <div id="dog6">
      <a href="#dog6">
        <img src="images/dog6.jpg" alt="Cute Dog 6"></a>
      <p class="caption">
        Wow, how are there so many cute dogs in the world?</p>
    </div>
    <div id="dog7">
      <a href="#dog7">
        <img src="images/dog7.jpg" alt="Cute Dog 7"></a>
      <p class="caption">
        Going for a walk!</p>
    </div>
    <div id="dog8">
      <a href="#dog8">
        <img src="images/dog8.jpg" alt="Cute Dog 8"></a>
      <p class="caption">
        I wonder what she is looking at?</p>
    </div>
    <div id="dog9">
      <a href="#dog9">
        <img src="images/dog9.jpg" alt="Cute Dog 9"></a>
      <p class="caption">
        Aww, that face!</p>
    </div>
    <div id="dog10">
      <a href="#dog10">
        <img src="images/dog10.jpg" alt="Cute Dog 10"></a>
      <p class="caption">
        This one looks like he really wants to play 
        a fun game of fetch.</p>
    </div>
    <div id="dog11">
      <a href="#dog11">
        <img src="images/dog11.jpg" alt="Cute Dog 11"></a>
      <p class="caption">
        Fierce little tongue!</p>
    </div>
    <div id="dog12">
      <a href="#dog12">
        <img src="images/dog12.jpg" alt="Cute Dog 12"></a>
      <p class="caption">
        She's so fluffy! I just want to hug her!</p>
    </div>
    <div id="dog13">
      <a href="#dog13">
        <img src="images/dog13.jpg" alt="Cute Dog 13"></a>
      <p class="caption">
        Yawn!</p>
    </div>
    <div id="dog14">
      <a href="#dog14">
        <img src="images/dog14.jpg" alt="Cute Dog 14"></a>
      <p class="caption">
        It's a bird, it's a plane, it's Super Dog!</p>
    </div>
    <div id="dog15">
      <a href="#dog15">
        <img src="images/dog15.jpg" alt="Cute Dog 15"></a>
      <p class="caption">
        Look at that little guy! So cute!</p>
    </div>
    <div id="dog16">
      <a href="#dog16">
        <img src="images/dog16.jpg" alt="Cute Dog 16"></a>
      <p class="caption">
        Aww, he's all wrapped up.</p>
    </div>
    <div id="dog17">
      <a href="#dog17">
        <img src="images/dog17.jpg" alt="Cute Dog 17"></a>
      <p class="caption">
        One wise dog, he is.</p>
    </div>
    <div id="dog18">
      <a href="#dog18">
        <img src="images/dog18.jpg" alt="Cute Dog 18"></a>
      <p class="caption">
        You want the ball? I got the ball! Fetch!</p>
    </div>
    <div id="dog19">
      <a href="#dog19">
        <img src="images/dog19.jpg" alt="Cute Dog 19"></a>
      <p class="caption">
        Three little puppies!</p>
    </div>
    <div id="dog20">
      <a href="#dog20">
        <img src="images/dog20.jpg" alt="Cute Dog 20"></a>
      <p class="caption">
        Mommy and baby. Adorable!</p>
    </div>
  </section> 
</main>
</body>
</html>