/* The "box" class is used for display purposes only */
.box { 
  border: 1px solid black;
  float: left; /* allows boxes to be side by side */
  height: 100px;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
}

#div1 {
  background-color: red;
}

#div2 {
  background-color: #345;
}

#div3 {
  background-color: rgba(6, 114, 6, 0.2);
}

#div4 {
  background-color: hsl(230, 50%, 70%);
}