table {
  border: solid;
  border-collapse: collapse;
}

table caption {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0.4rem;
  text-decoration: underline;
}

table th {
  border: solid;
  font-size: 1.1rem;
  padding: 1rem;
}

table td {
  border: solid;
  padding: 1rem;
}

table thead {
  background: darkgray;
}

table tbody tr {
  background: lightgray;
}

table tbody tr:nth-last-of-type(odd) {
  background: whitesmoke;
}